body{
  margin:auto;
    width:450px;
    background-color: black;
    color:#5e81ad;
    font-family: 'Arial Narrow';
}	
@media (-webkit-device-pixel-ratio: 1.5) { 
  body{
    font-size:12px;
  }
}
#addBlock{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:100%;/*528px;*/
}

#custNameWrapper  ul{
    list-style: none;
    color:rgb(136, 197, 250);
    margin-bottom:10px;
    float:left;
    text-align: left;
    padding-inline-start: 30px;
    margin-block-start: 0;
}
#radioContainer{
  display:flex;
  justify-content: right;
  margin-top: 10px;
  height: 25px;
}
input[type='text'] {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: .5vw;
    padding: 0.5em 3.5em 0.5em 1em;
    text-transform: uppercase;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type='checkbox'] {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    /* font: inherit; */
    /* line-height: .5em; */
    font-size:9px;
    padding: 0.5em 0.5em 0.5em 0.5em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type='checkbox']:checked{
      background-color: orangered;
  }
select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em),
      calc(100% - 15px) calc(1em),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }
  
  SELECT OPTGROUP OPTGROUP{
    text-indent: 20px;
    color: red;
  }
  select optgroup[label]{
    font-size: 1.25em;
    MARGIN-LEFT:0PX;
    color:black;
    background-color:rgb(214, 212, 212);
  }
  optgroup option{
    font-size: .70em;
    font-weight:900;
    text-indent:20px;
    padding-left:50px;
    color:black;
    background-color:white;
    
  }
  select option[disabled]{
    
    color:rgb(77, 76, 76);/*rgb(77, 57, 50);*/
    font-size: 20px;
    font-weight:100;
    border-bottom:1px solid;
    
  }
  
 /* below items for trying to change dtalist stylings */
  /* datalist {
    position: absolute;
    background-color:white;
    border: 1px solid blue;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 200px;
    padding: 5px;
    max-height: 10rem;
    overflow-y: auto
    
  }
  
  #lstCustomer option {
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
     font-size: 18px;
    cursor: pointer;
  }
  
  #lstCustomer option:hover,  .active{
    background-color: lightblue;
  } */
  
  option.line{
    border-bottom: 2px solid black;
  }
.visibleInput{
	display:block;
	float:right;
  
	margin:3px;
	clear: both;
	
}
.visibleFieldset{
    display: block;
	margin:5px;
	clear: both;	
  width:400px;
}
.hiddenInput{
        display:none;
        float:right;
}
#dateWrapper_OTL_SCHEDULED{
  border:1px solid #5e81ad;
}
#customerNameWrapper{
        
        overflow: hidden;
        height: 2.5em;
}
#no_show{
  display:none;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  color:red;
  width:100%;
  margin-right:20px;

}
/* #no_show::before{
  content:'*';
} */
.actionLink{
  font-size: .8rem;
  cursor: pointer;
  margin: 3px;
  color: lime;
  text-decoration-line:none;
  margin-left:10px;
  
}
.actionLink:hover{
  color: rgb(180, 134, 180);

}
#contactsIcon{
        display:inline-block;
        background-color: white;
        z-index: 100;
        height:19px;
        vertical-align: middle;
        margin-right: -4px;
        margin-top:-1px;
        cursor: pointer;
}
#h {
    text-align:left;
}

#formButtons{
  display:flex;
  justify-content: center;
    width: 100%;
    
    
}
#formButtons input{
    margin:5px;
    text-align: center;
}
input[type="text"], select{
    width: 200px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
#contactsList{
    float: right;
    width:185px;
}
.btn{
  float:right;
  border:1px solid #5e81ad;
  background-color:#5e81ad;
  margin: 3px;;/* */
  padding:1px 3px;
  cursor:pointer;
  color: black;
  width: 100px;
  text-align: center;  
}
.btn:hover{
  color:white;
  
}