body{
    background-color: #5e81ad;
    width:500px;
    height:auto;
    color: white;
    font-weight: 400;
    font-family: "Arial Narrow";
}
datalist{
	display:none;
	z-index: 900000;
    visibility: collapse;
    height: 0px;
    
}
li > a{
    font-size:13px;
    text-decoration: none;
}
#contactsMain{
    float: left;
    width: 100%;
    
}
#contactsHeader h1{
    font-weight: 400;
}
.inline-input-group{
float: left;
width:100%;
}
.input-block{
    display: inline-block;
    
    margin:10px;
   
}
input{
    border-radius: 5px;
    border:1px solid #5e81ad;
    height: 1.5rem;
    float: left;    
    padding-left: 5px;;
}
label{
    float:left;
    font-size: 1rem;
    margin-bottom: 5px;
  
}
.addAdditional{
    float:left;
    font-size: 28px;
    
    vertical-align: middle;
    border:1px solid black;
    height:20px;
}