body{
    color:white;
    background-color: black;
    font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
}
.ribbon{
    width:100%;
    height:auto;
    float: left;
    
    margin-bottom:2px;
    text-align: center;
}
.mainOption{
    width: calc(95%/3);
    font-size: 25px;
    float: left;
    height: 35px;
    margin: 5px;
    border: 1px solid #5e81ad;
    cursor: pointer;
    
}
.chosen{
    color: white;    
    
    background-color: #5e81ad;

}
.unchosen{
    color: #5e81ad;    
   
    background-color: black;

}
select {
    height: 30px;
}
#dateRange{
    width: 240px;
    padding: 2px;
}
#reportEndDate{
    margin-top: 3px;
}
.ribbonAsset{
    float:left;
    
    height: 60px;
    margin: 10px 5px 5px 5px;
}
.hidden{
    display: none;
}
.visible{
    display:block;
}
.resultsContainer{
    float:left;
    
    color:#5e81ad;;
    width: 100%;
    

}