body{
    background-color: #5e81ad;
    width: 400px;
    color:white;
    font-family: 'Arial Narrow'
    
}
h3{
    text-align: center;
}
.-user-input-text{
    border:1px solid aliceblue;
    
    line-height: 20px;
    margin:5px;
}
.-user-label{
    display:inline-block;
    color:white;
    
    width: 150px;
    text-align: right;
}
.-user-submit{
    display: inline-block;
    color:white;
    background-color:#335f94;
    width: 95px;
   
    font-size: 15px;
    height: 25px;
    border:none;
    
    vertical-align: middle;
    padding-top: 0px;
    margin-top: 0px;
}
.-user-submit:hover{
    background-color: black;
}
#-message-area{
    color:yellowgreen;
    text-align: center;
    width: 100%;
    font-size:1.25em;
}
#lsDiv{
    margin-top: 10px;
    width: 95%;
    text-align: center;
}